header {
    border-bottom: solid #ce9;
    border-right: solid #deb;
    border-radius: 5%/7%;
    text-align: center;
    font-size: 1.3em;
    color: #06b;
    background-color: #efd;
    padding: 10px;
}

md-content {
    padding: 10px;
}

md-fab-trigger.pm-fab {
    left: 15px;
}
