header {
    border-bottom: solid #ce9;
    border-right: solid #deb;
    background-color: #efd;
    padding: 5px;
}

md-content {
    padding: 10px;
}

md-fab-trigger.pm-fab {
    left: 15px;
}

pm-heading {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    color: #083;
}

pm-subheading {
    text-align: left;
    text-indent: 10px;
    font-style: italic;
    font-size: 0.9em;
    color: #083;
}

.pm-workspace {
    min-height: 400px;
}

.pm-fab {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}
