<div ng-cloak>
    <md-content class="pm-workspace">
        <pm-subheading>help to get a feedback</pm-subheading>
        <md-fab-speed-dial>
            <md-fab-trigger>
                <md-button aria-label="feedback" class="md-fab md-warn">
                    <md-tooltip md-direction="down">feedback</md-tooltip>
                    <md-icon aria-label="menu" md-svg-src="/img/icons/ic_feedback.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
        </md-fab-speed-dial>
    </md-content>
</div>
